<h1>This page will show the search bar and results in lists of 10.</h1>


<%= form_tag("/", method: "get") do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if !params[:q].blank? %>
  <ul>
    <%@recipes.each do |recipe|%>
      <li><%=link_to(recipe.label, recipe_path(1))%></li>
      <%end%>
  </ul>
<%end%>
