@import "foundation_and_overrides";

ul {
  list-style-type: none;
}

.middle {
  margin: 5%;
  margin-top: 2%;
  position: absolute;
}

.veggie_background {
  opacity: .4;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

* {
  font-family: Bree;
}

a {
  color: #333333;
}

a:hover{
  color: #A1CF6B;
}

h1 {
  font-family: Lobster;
  color: #A1CF6B;
  text-shadow: 5px 2px 2px #4a7c59;
  font-size: 5em;
  opacity: .75;
  width: 45%;
  display: inline-block;
}

.search-box {
  width: 30%;
  display: inline-block;
}

.pseudoheader{
  width: 100%;
}

.home-container{
  padding: 2%;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
